body{
    margin: 0;
    line-height: 1.5;
    background:seagreen;
}
*{
    margin: 0;
    padding: 0;
    
}
.card{
    height: 290px;
    width: 250px;
    border-radius: 10px;
    background:darkgreen;
    margin-top: 150px;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 20px 35px;
}
.card .btn{
    background-color:#000;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 10px;
    transition: .4s;
}
.col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.section-seven{
    margin: 40px 0;
    min-height: 100vh;
    

}
